<a href="https://colab.research.google.com/github/RazayonoorFerdous/Python-/blob/main/1.%20Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a comment. Now I am Written a variable

In [ ]:
print('Hellow World')

Hellow World

# Variable

In [ ]:
x = 5
y = "Ferdous"
print(x)
print(y)

5
Ferdous

In [ ]:
x = 4      # x is of type int
x = "ferdous" # x is now of type str
print(x)
print(type(x))

ferdous
<class 'str'>

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)

3 3 3.0

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = str(5) # x= 5 is wrong as a type
y = "John"
print(x + y)

5John

In [ ]:
x = "awesome"  # Here, x is a global Varibale

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome" # here, X is a global varibale

def myfunc():
  x = "fantastic"  # here, x is a local Variable
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  global x #now x is decleare as a global variable
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

**Data Type and Number**